.wrapper {
    position: relative;
    background-color: #E5E5E5;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.draggble {
   position: absolute;
    background-color: #242529;
    overflow: auto;
    resize: both;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
